 
<li *ngFor="let hero of heroes" 
[class.selected]="hero === selectedHero"
(click)="onSelect(hero)" >
<div>
  <span>id: </span>{{hero.id}}
  <span>name: </span> {{hero.name}}
</div>
</li>

<div *ngIf="selectedHero">
<h2>{{selectedHero.name | uppercase }} Details</h2>
<div>
  <label>name: 
    <input [(ngModel)]="selectedHero.name" placeholder="name">
  </label>
</div>
</div>